IO_LOC  "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_DEN" 33;
IO_PORT "LCD_DEN" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_SYNC" 34;
IO_PORT "LCD_SYNC" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_HYNC" 40;
IO_PORT "LCD_HYNC" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "LCD_CLK" 35;
IO_PORT "LCD_CLK" DRIVE=24 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "XTAL_IN" 52;
IO_PORT "XTAL_IN" IO_TYPE=LVCMOS33;

IO_LOC  "nRST" 4;
IO_PORT "nRST" PULL_MODE=UP;
